*.xcuserstate
*.xcexplist
*.xcbkptlist
*.xcsettings
xcschemes/
xcuserdata/
*.xcworkspace/
.DS_Store
Bin/
Lib/
Temp/
Debug/
Release/
*.opensdf
*.sdf
*.suo
*.vcxproj.filters
*.vcxproj.user
*.vc.opendb
*.vc.db
*.coverage
.cproject
.project
build/
.vs/
